.sidebar {
  width: 250px;
  position: fixed;
  top: 100px; /* Fixa a sidebar logo abaixo do header */
  bottom: 100px; /* Estende até o final da página sem sobrepor o footer */
  left: 0;
  background-color: #F4F4F4;
  padding-top: 20px;
  z-index: 999;
  overflow-y: auto; /* Permite rolagem caso o conteúdo exceda a altura disponível */
}

/* Remove altura fixa para adaptar ao layout da página */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 0; /* Remove o padding do li e aplica ao a para cobrir a área total */
  border-bottom: 1px solid #cccaca; /* Adiciona a linha de divisão */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.sidebar ul li:last-child {
  border-bottom: none; /* Remove a linha do último item */
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 12px; /* Adiciona padding ao a para aumentar a área clicável */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para cor de fundo e texto */
}

.sidebar ul li:hover a {
  background-color: #008CC5; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}

.sidebar ul li a.selected {
  background-color: #008CC5; /* Cor de fundo para o item selecionado */
  color: white; /* Cor do texto para o item selecionado */
}
