.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #1DADEE; /* Mantém a cor de fundo */
  color: white;
  padding: 0 20px; /* Adiciona padding para dar espaço nas bordas */
}

/* Ajusta o ícone e o texto de login para alinhá-los corretamente */
.loginContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Adiciona espaço entre o ícone e o texto */
}

.loginIcon {
  height: 60px; /* Ajuste a altura para que o ícone fique proporcional */
  width: auto; /* Mantém a proporção do ícone */
  margin-left: 1500px;
}

.loginText {
  font-size: 22px; /* Ajuste o tamanho da fonte para combinar com o layout */
}

/* Ajuste o logo da Unesp para ficar do lado direito e proporcional */
.imgContainer {
  width: auto; /* Permite que o logo ajuste automaticamente o tamanho */
  height: 40px; /* Ajusta a altura para combinar com o design */
  margin-right: 15px; /* Espaço à direita para afastar do canto */
}
