@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=Montserrat&display=swap');

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
}

.iconContainer {
    margin-bottom: 40px;
    height: 50%;
}

input {
  width: 600px;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 48px;

  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  color: #4F4E4E;

  border: none;
  border-bottom: 1px solid #888888;

  background-color:transparent;


  &:focus {
    outline: 0;
  }
}